.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .card {
        background-color: darken($primary-color, 10%);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }

        img {
            width: 100%;
            border-radius: 8px;
        }

        .card-content {
            h2 {
                margin-top: 10px;
                color: set-text-color($primary-color);
            }

            p {
                margin-top: 5px;
                color: set-text-color($primary-color);
            }
        }
    }
}